.wrapper {
    margin-top: 10px;
}

.header {
    font-size: 1.8rem;
    margin-bottom: 10px;
    text-align: center;
}

.list {
    width: 140px;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.element {
    font-size: 1.2rem;
    text-align: center;
    width: 90%;
}